{% extends 'main/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/progress.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/e-ticket.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/payment.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/ticket-booking.css' %}">
{% endblock %}
{% block content %}
<div class="container" id="progress-container-id">
    <div class="row">
        <div class="col">
            <div class="px-0 pt-4 pb-0 mt-3 mb-3">
                <form id="form" method="POST">
                    <ul id="progressbar" class="progressbar-class">
                        <li id="step1" class="active">Show timing selection</li>
                        <li id="step2" class="not_active">Seat Selection</li>
                        <li id="step3" class="not_active">Payment</li>
                    </ul>
                    <br>
                    <fieldset>
                        <div id="screen-select-div">
                            <h2>Show time Selection</h2>
                            <div class="carousel carousel-nav" data-flickity='{"contain": true, "pageDots": false }'>
                                {% for date in dates %}
                                <div class="carousel-cell tablinks" onclick="openTime(event, {{ date.day }})">
                                    <div class="date-numeric">{{ date }}</div>
                                </div>
                                {% endfor %}
                            </div>
                            <ul class="time-ul">
                                {% for date in dates %}
                                <li class="time-li tabcontent" id="{{ date.day }}">
                                    <div class="time-btn">
                                        {% for ses in sessions%}
                                        {% if ses.date.day == date.day %}
                                        <a class="screen-time" href="{% url 'select_seat' pk=ses.id %}">{{ ses.time
                                            }}</a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function openTime(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" is-selected", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " is-selected ";
    }
</script>
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
<script type="text/javascript"
    src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'assets/js/theme-change.js' %}"></script>
<script src="{% static 'assets/js/ticket-booking.js' %}"></script>
{% endblock %}